@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<p>Hello World!</p>
<div id="gesis64">*</div>
<pre id="code" class="code">@((MarkupString)Tools.ReadFile("Sources/Snippets/preparse.txt"))</pre>

@section Scripts {
	<script src="~/js/Genesis64.js"></script>
}