@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<p>Hello World!</p>
<div id="gesis64">[editor goes here]</div>
<pre id="code" class="code">@((MarkupString)Tools.ReadFile("Sources/Snippets/test.txt"))</pre>
<hr />
<pre id="convert" class="code"></pre>

@section Scripts {
	<script src="~/js/Genesis64.js"></script>
}