<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Genesis64</title>
	<link rel="stylesheet" href="~/css/genesis64.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav id="G64Menu" class="navbar">
			<ul>
				<li><a href="#" role="button" class="active">Genesis64</a></li>
				<li><a href="#" role="button">Options</a></li>
				<li><a href="#" role="button">Help</a></li>
				<li><a href="#" role="button">About</a></li>
			</ul>
		</nav>
	</header>
	@RenderBody()
	<footer>&copy; 2022 - <a href="https://@@nGFX@@oldbytes.space ">nGFX</a> Genesis64 <environment include="Development">(dev)</environment> - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></footer>
	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
