@{
	ViewData["Title"] = "Home Page";
}

<div class="GenesisUI">
	<div id="Genesis64"></div>
	<div id="TestArea">
		<textarea id="code">
load "$",8,1
		</textarea>
		<br /><button id="run">Run</button>
		<div>Output:</div>
		<pre id="output"></pre>
	</div>
</div>

@section Scripts {
	<script src="~/js/genesis64.js" asp-append-version="true"></script>

	<script>
		let m = {};

		$(function () {
			// temp clear whitespace from textbox
			$("#code").text($("#code").text().trim());

			m = Genesis64.Instance;
		});
	</script>

}
