@{
	ViewData["Title"] = "Home Page";
}

<div class="GenesisUI">
	<div id="Genesis64"></div>
	<div id="TestArea">
		<textarea id="code">
lO
load "1"
Load "2",8,1
load "2",8,1
load "3",8,2,1
load 1
load "4","8"
		</textarea>
		<br /><button id="run">Run</button>
		<div>Output:</div>
		<pre id="output">lO		> load - OK
load "1"	- OK
Load "2",8,1	- SYNTAX ERROR
load "2",8,1	- OK
load "3",8,2,1	- SYNTAX ERROR (to many parameters)
load 1		- TYPE MISMATCH (parameter '1' is not a string)
load "4","8"	- TYPE MISMATCH (parameter "8" is not a number)
		</pre>
	</div>
</div>

@section Scripts {
	<script src="~/js/genesis64.js" asp-append-version="true"></script>

	<script>
		let m = {};

		$(function () {
			// temp clear whitespace from textbox
			$("#code").text($("#code").text().trim());

			$("#run").click(Run)

			m = Genesis64.Instance;
		});

		function Run(_e) {
			let t = $("#code").val();
			console.log("Parse: ", t)
			m.Basic.Temp(t);
		}
	</script>

}
