@{
    ViewData["Title"] = "Home Page";
}

<div class="GenesisUI">
    <div id="Genesis64"></div>
</div>

@section Scripts {
	<script src="~/js/genesis64.js" asp-append-version="true"></script>

	<script>
		let m = {};

		$(function () {
			m = Genesis64.Instance;
		});
	</script>

}
