@{
	ViewData["Title"] = "Home Page";
}

<div class="GenesisUI">
	<div id="Genesis64"></div>
	<div id="TestArea">
		<textarea id="code">
a=2
a=abs(-1)
a(2)=3
a(b(2)) = 3
		</textarea>
		<br /><button id="run">Run</button>
		<div>Output:</div>
		<pre id="output"></pre>
	</div>
</div>

@section Scripts {
	<script src="~/js/genesis64.js" asp-append-version="true"></script>

	<script>
		let m = {};

		$(function () {
			// temp clear whitespace from textbox
			$("#code").text($("#code").text().trim());

			$("#run").click(Run)

			m = Genesis64.Instance;
		});

		function Run(_e) {
			let t = $("#code").val();
			console.log("Parse: ", t)
			m.Basic.Temp(t);
		}
	</script>

}
